@import url('https://fonts.googleapis.com/css2?family=Love+Light&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 10px;
    background-color: #fdf0d5;
    color: #700000;
    font-family: "poppins";
    text-align: center;
}

.container {
    margin: 10px;
    animation-duration: 2s;
}

.box {
    display: inline;
    margin: auto;
    width: 70%;
    height: 100px;
}

.title {
    padding: 20px 0px;
}

h4 {
    font-style: italic;
    padding: 20px 0px;
}

.btns {
    margin: 40px 0px;
    padding: 10px;
}

button {
    margin: 10px;
    padding: 5px 7px;
    border-radius: 5px;
    border: 1px solid #700000;
    background-color: transparent;
    color: #700000;
    font-weight: 400;
    transition: all 0.3s;
}

button:focus {
    background-color: #700000;
    color: #fdf0d5;
}

.first {
    width: 100%;
    padding: 10px;
}

.yeah {
    display: none;
}

.magic {
    display: none;
}

.mix {
    display: none;
}

.video {
    display: none;
}

video {
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 0px;
}

p {
    text-align: left;
}

.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11 {
    display: none;
}

.b2,
.b3,
.b4,
.b5,
.b6,
.b7,
.b8,
.b9,
.b10,
.b11 {
    display: none;
    margin: 0 auto;
}

.product {
    display: none;
}

.footage {
    display: none;
}

.footage>video {
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px #700000;
}

.clip {
    display: none;
}

.one,
.two,
.three {
    display: none;
}

.error {
    animation-name: error;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes error {
    0% {
        background-color: red;
    }

    10% {
        background-color: #fdf0d5;
    }

    20% {
        background-color: red;
    }

    30% {
        background-color: #fdf0d5;
    }

    40% {
        background-color: red;
    }

    50% {
        background-color: #fdf0d5;
    }

    60% {
        background-color: red;
    }

    70% {
        background-color: #fdf0d5;
    }

    80% {
        background-color: red;
    }

    90% {
        background-color: #fdf0d5;
    }

    1000% {
        background-color: red;
    }
}
.together{
    /* animation: together 6s infinite; */
    width: 100%; 
    height: 100vh;
}

@keyframes changeBackground {
    0% { background-image: url('assets/1.jpg'); }
    20% { background-image: url('assets/2.jpg'); }
    40% { background-image: url('assets/3.jpg'); }
    60% { background-image: url('assets/4.jpg'); }
    80% { background-image: url('assets/5.jpg'); }
    100% { background-image: url('assets/6.jpg'); }
    /* Repeat for all images */
}

.animated-bg {
    animation: changeBackground 6s infinite;
    background-position: center;
    background-size: cover;
}
